LIBC_DIR = libc

LIBC_CC := $(TARGETARCH)-elf-karacaos-gcc

LIBC_SRC := $(shell find ./$(LIBC_DIR) -type f \( -name "*.c" -o -name "*.S" \) -a ! -name "crt*.S")
LIBC_SRC := $(filter-out $(wildcard ./$(LIBC_DIR)/**/*.test.c), $(LIBC_SRC))

LIBC_HDR := $(shell find ./$(LIBC_DIR) -type f -name "*.h")

LIBC_OBJ := $(patsubst %.S,%.o,$(patsubst %.c,%.o,$(LIBC_SRC)))

LIBC_DEPFILES := $(patsubst %.S,%.d,$(patsubst %.c,%.d,$(LIBC_SRC)))

LIBC_OBJLINKLIST := $(LIBC_OBJ)

LIBC_CFLAGS := $(CFLAGS)

LIBC_LINKED_OBJ := $(LIBC_DIR)/libc.o

.PHONY: libc libc-clean libc-install
.SUFFIXES: .o .c .S .m4

libc: libc-install-headers $(LIBC_LINKED_OBJ)
	echo "Build libc complete"

libc-install: libc/libc.a
	cp libc/$(TARGETARCH)/crt0.o sysroot/lib/crt0.o
	cp libc/libc.a sysroot/lib/libc.a

libc-install-headers: $(LIBC_HDR)
	cp -RT $(LIBC_DIR)/include sysroot/usr/include

libc-clean:
	rm -f $(LIBC_LINKED_OBJ) $(LIBC_OBJ) $(LIBC_DEPFILES) $(CRTI_OBJ) $(CRTN_OBJ)

libc/libc.a: $(LIBC_OBJLINKLIST)
	i686-elf-karacaos-ar rcs libc/libc.a $(LIBC_OBJLINKLIST) $(LIBC_DIR)/i686/crt0.o

$(LIBC_DIR)/%.o: $(LIBC_DIR)/%.S
	$(LIBC_CC) $(LIBC_CFLAGS) -c $< -o $@ -fPIE

$(LIBC_DIR)/%.o: $(LIBC_DIR)/%.c
	$(LIBC_CC) $(LIBC_CFLAGS) -c $< -o $@ -fPIE

-include $(LIBC_DEPFILES)
